<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<h1>Add book to database!</h1>
			<form action="/books" method="POST">
				<label for="title">Book Title</label>
				<input type="text" name="title" placeholder="Title" />
				<br />
				<label for="author">Author</label>
				<input type="text" name="author" placeholder="Author" />
				<br />
				<label for="language">Language</label>
				<input type="text" name="language" placeholder="Language" />
				<br />
				<button type="submit">Submit</button>
			</form>
			<br />
		</div>
		<h3>List of books</h3>
		{% for book in books%}
		<div>
			<span>{{book.title}}</span>
		</div>
		{% endfor %}
	</body>
</html>
